body {
    background-color: var(--Bprincipal);
}

:root {
    --Bprincipal: #000022;
    --Bcolor-1: #5555aa;
    --Bcolor-2: #5555ff;
    --Bcolor-3: #000011;
    --Text-Color-1: #ffffff;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 0;
    border-bottom: 1px solid #ffffff;
}


/************************************************** create content ************************************ */

.api1,
.api3 {
    background-color: var(--Bcolor-1);
    color: var(--Text-Color-1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 30px;
}

.api2 {
    background-color: var(--Bcolor-2);
    color: var(--Text-Color-1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 30px;
}


/************************************************** style clock ************************************ */

.reloj {
    background-color: var(--Bcolor-2);
    padding: 20px;
    border: 1px solid #ffffff;
    display: inline-flex;
}

.reloj div {
    font-size: 60px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #ffffff;
}


/************************************************** create change style ************************************ */

.api2 .modal-overlay {
    background-color: var(--Bcolor-1);
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    opacity: 0;
    animation: aparecer 1s forwards;
}

.uno,
.dos {
    padding: 10px 20px;
    font-size: 20px;
    margin: 0 20px;
    background-color: var(--Bprincipal);
    color: var(--Text-Color-1);
    border: none;
    border-radius: 10px;
}

.uno:hover,
.dos:hover {
    background-color: var(--Bcolor-1);
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes desaparecer {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/************************************************** create texturizer ************************************ */

.texturas {
    margin: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: var(--Bcolor-2);
    user-select: none;
}

.texturas div {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 6px;
    user-select: all;
}

.texturas div:active {
    opacity: 0.55;
}

.textura1 {
    background: url("../img/1.jpg");
}

.textura2 {
    background: url("../img/2.jpg");
}

.textura3 {
    background: url("../img/3.jpg");
}

.zona {
    margin: 10px;
    background: #ddd;
    height: 200px;
    color: var(--Bcolor-1);
}


/************************************************** create content FileReader ************************************ */

.subir input {
    background-color: #234567;
    padding: 10px;
    border-radius: 20px;
}

.resultado {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    background: #ddd;
    color: var(--Bcolor-1);
}

.resultado img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.resultado img:first-child {
    grid-column: 1/3;
    grid-row: 1/3;
}

img:nth-child(6) {
    grid-column: 2/4;
    grid-row: 3/5;
}

img:nth-child(10) {
    grid-row: span 2;
}


/************************************************** create content FileReader y DRAG DROP************************************ */

.subir2,
.carga {
    padding: 40px;
    background-color: var(--Text-Color-1);
    border: 3px dashed #999999;
    color: #999999;
    max-width: 800px;
    margin: 20px auto;
    font-size: 20px;
    z-index: 10;
}

.carga {
    padding: 0;
}

.resultado2 {
    background-color: #cccccc;
    max-width: 1000px;
    padding: 0;
    margin: auto;
}

.resultado2 img {
    max-width: 900px;
    padding: 10px;
}

.carga {
    width: 0%;
    left: 0;
    right: 0;
    margin-top: 0;
    z-index: 0;
    border: none;
    background: #def;
    transition: width 0.5s;
}

video {
    max-width: 90%;
    padding: 10px;
}


/************************************************** create content Lazy Load ************************************ */

.publicacion {
    text-align: left;
    margin: 20px;
    opacity: 0;
    animation: aparecer 1s forwards 0.1s;
}

.publicacion p {
    padding: 10px 20px;
    border-left: 2px solid #555;
    margin: 0;
}

.publicacion h2 {
    border-bottom: 2px solid #555;
    margin: 0;
    padding: 10px;
    display: inline-block;
    text-transform: capitalize;
}

h3 {
    margin-bottom: 0;
    margin-top: 60px;
}

.comentarios {
    display: flex;
}

.comentarios input {
    padding: 8px 12px;
    border: none;
    color: antiquewhite;
    background-color: #333;
}

.comentarios .comentario {
    flex-grow: 1;
}

.comentarios .enviar {
    min-width: 60px;
    font-weight: 700;
    font-family: monospace;
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/************************************************** create content ************************************ */

.editor {
    background-color: #ffffff;
    width: fit-content;
    border: 2px solid #000;
    margin: auto;
}

.editor div {
    background: #000;
}

#lw {
    width: 400px;
    height: 20px;
}

#color {
    width: 50px;
    height: 40px;
}


/************************************************** create content ************************************ */


/************************************************** create content ************************************ */


/************************************************** create content ************************************ */


/************************************************** create content ************************************ */


/************************************************** create content ************************************ */


/************************************************** create content ************************************ */


/************************************************** create content ************************************ */